# Application Config
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Database (MySQL via Prisma)
DATABASE_URL="mysql://root:password123@localhost:3306/smart_bus_ticketing"

# Redis Config (Distributed Lock & Caching)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# VNPay Sandbox Configuration
# Tài liệu: https://sandbox.vnpayment.vn/apis/
VNP_TMN_CODE=TESTTMN01
VNP_HASH_SECRET=RAHDefaultSecretHashVNPayKey2026XYZ
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/api/v1/payments/vnpay-return
VNP_IPN_URL=http://localhost:3000/api/v1/payments/vnpay-ipn

# MoMo Sandbox Configuration
# Tài liệu: https://developers.momo.vn/v3/docs/payment/api/wallet/onetime/
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1wa8ngfBWR1nF6o0BmNipd4M
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:3000/api/v1/payments/momo-return
MOMO_IPN_URL=http://localhost:3000/api/v1/payments/momo-ipn

