PORT=5000

# Chuỗi kết nối Supabase PostgreSQL
# Thay YOUR_DATABASE_PASSWORD bằng mật khẩu bạn đã tạo trên Supabase:
DATABASE_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@db.uhoznqcpaasartfvdynx.supabase.co:5432/postgres"

# Hoặc nếu dùng Supabase Connection Pooler (Port 6543):
# DATABASE_URL="postgresql://postgres.uhoznqcpaasartfvdynx:YOUR_DATABASE_PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@db.uhoznqcpaasartfvdynx.supabase.co:5432/postgres"
# VNPay Sandbox Configuration
VNP_TMN_CODE=TESTTMN01
VNP_HASH_SECRET=RAHDefaultSecretHashVNPayKey2026XYZ
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/api/v1/payments/vnpay-return
VNP_IPN_URL=http://localhost:3000/api/v1/payments/vnpay-ipn

# MoMo Sandbox Configuration
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1wa8ngfBWR1nF6o0BmNipd4M
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:3000/api/v1/payments/momo-return
MOMO_IPN_URL=http://localhost:3000/api/v1/payments/momo-ipn