PORT=5000

# Chuoi ket noi MySQL Local
# Thay root va 123456 bang username va password MySQL tren may ban
DATABASE_URL="mysql://root:123456@localhost:3306/smartbus_db"

# Hoac neu dung MySQL Online/Docker:
# DATABASE_URL="mysql://username:password@localhost:3306/smartbus_db"